.line-break-large {
    border: 2px solid #0d6efd;
    margin: 0px;
    opacity: 1;
}

.line-break-small {
    border: 3px solid #0d6efd;
    width: 75%;
    margin: 1.5rem auto;
    opacity: 1;
}

.line-break-small-grey {
    border: 2px solid grey;
    width: 25%;
    margin: 1rem auto;
    opacity: 1;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}